.footer {
    min-height: 150px;
    background-color: var(--brand-col1);
    width: 100%;
    overflow: hidden;
    color: black;
    text-align: center;
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.top {
    height: 100%;
    width: 100%;
}

.bottom {
    width: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3vw;
    align-items: center;
    align-content: center;
}

.bottom p,
.bottom a {
    color: rgb(104, 104, 104);
    margin: 8px 0;
}

.top a {
    background: var(--brand-col2);
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    position: relative;
    width: 200px;
    color: black;
    text-align: center;
    margin: 10px auto;
    z-index: 2;
    border: 1px solid transparent;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top a::before {
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: -1;
    transform: scale(1);
    opacity: 0;
}

.top a:hover {
    border: 1px solid white;
    color: white;
}

.top a:hover::before {
    transform: scale(1.5);
    filter: blur(1px);
    opacity: .1;
}

.top h2 {
    color: white;
    font-family: Poppins;
    width: auto;
    margin: 25px auto;
    font-weight: 500;
    width: 80%;
    font-size: 36px;
    line-height: 40px;
}

@media only screen and (max-width:600px) {
    .bottom {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .bottom p,
    .bottom a {
        width: 100%;
        display: block;
    }
    .top h2 {
        font-size: 1.5rem;
        line-height: 1.7rem;
        margin: 20px auto;
    }
}