.maintext {
    font-family: Roboto Mono;
    letter-spacing: normal;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    line-height: 36px;
    font-size: 32px;
    padding: 10px 0 10px 0;
    color: white;
    font-weight: 500;
}
.straight{
    transform: rotate(0deg) scale(1) !important;
    

}
.straight .maintext{
    font-family: Poppins !important;
    font-size: 18px;
    padding: 5px 0;
}
.holder {
    z-index: 99;
    transform: rotate(-3deg) scale(1.02);
    width: 100%;
    background: rgb(131, 53, 137);
    background: linear-gradient(149deg, rgba(131, 53, 137, 1) 0%, rgba(203, 61, 214, 1) 100%);
    box-shadow: 4px 4px 32px -6px rgba(203, 61, 214, 1);
}

@media only screen and (max-width:968px) {
    .maintext {
        line-height: 26px;
        font-size: 22px;
    }
}

@media only screen and (max-width:768px) {
    .maintext {
        line-height: 16px;
        font-size: 12px;
    }
}