.previewBox {
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    background-color: white;
    margin: 10px 0;
    border-radius: 20px;
    max-height: 300px;
    position: relative;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.loader svg {
    width: 24px;
    height: 24px;
    animation: rotate 1s normal infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.previewBox p {
    background-color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -100%);
}

.previewBox input {
    appearance: none;
    width: 100%;
    z-index: 2;
    height: 100%;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    opacity: 0;
}