.full{

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #00000033;
}
.pune{
    border: 1px solid var(--brand-col1);
    border-radius: 10px;
    font-size: 14px;
}
.full *{
    font-family: SF Pro Display;
}


.top{
    padding: 10px 20px;
    min-height: 200px;
    background-color: var(--brand-col1);
    position: relative;
}
.top img{
    padding: 30px;
}
.bottom{
    padding: 10px 20px;
    text-align: center;
}
.bottom h2{
color: var(--brand-col1);
margin: 0;    
}
.bottom h4{
    padding: 0 20px;
    margin: 0;
}
.close{
    cursor: pointer;
    background-color: white;
    padding: 5px;
    transform: rotate(45deg);
    border-radius: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
}
.coupon{
    border: 1px dashed var(--brand-col1);
    border-radius: 10px;
    padding: 5px;
    color: var(--brand-col1);
    text-align: center;
}
.inner{
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 22px -10px #00000033;
    overflow: hidden;
    animation: com .4s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes com {
    0%{
    opacity: 0;   
    transform: scale(0.8); 
    }
    100%{
        opacity: 1;  
        transform: scale(1);  
        }
    
}