
.gridr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 20px 0 0;
}
.paginate{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
    align-content: center;
}
.next,.prev{
    padding: 0px;
    border-radius: 100px;
    background-color: #ddd;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.page{
    padding: 5px;
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    margin: 0 5px;
    
    width: 24px;
    font-size: 14px;
    text-align: center;
    height: 24px;
    font-family: SF Pro Display;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.pagination_active{
    color: white;
    background-color: var(--brand-col1);
}
.paginate [disabled]{
pointer-events: none;
opacity: 0.5;
}
@media screen and (max-width:968px) {
    .gridr {
        padding-right: 0;
    }
    .post_holder{
        padding: 10px 0px;
    }
    .gridr{
        padding: 0 20px;
    }
    .mainhead{
        padding: 0 20px;
        padding-top: 100px;
        color: var(--brand-col1);
    }
    .para{
        padding: 0 20px;
    }
}