.review{
    flex: 1 1 calc(33% - 20px);
    margin: 10px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -8px #00000011;
    font-family: Poppins;
}

.review img{
    width: 54px;
    height: 54px;
    border-radius: 200px;
    object-fit: cover;
}
.stars svg{
    width: 12px;
    height: 12px;
}
.stars path{
  fill: #ffbc00;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;align-items: center;
    align-content: center;
    font-weight: 500;
    color: var(--brand-col1);
    margin: 10px 0 0 0;
}
.badge{
    padding: 2px 10px;
    display: inline-block;
    color: var(--brand-col2);
    border-radius: 200px;
    font-size: 10px;
    margin: 5px 0 6px 0;
    border: 1px solid var(--brand-col2);
}
.name svg{
    width: 16px;
    height: auto;
    margin-left: 5px;
}
.comment {
    font-size: 14px;
}
.date{
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}
@media only screen and (max-width:468px) {
.review{
    flex:  1 1 100%;
  }}