.shares {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin: 10px -5px;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.social p {
    display: none;
    margin: 0;
}

.social {
    width: 34px;
    height: 34px;
    padding: 5px;
    background-color: hsl(0, 0%, 92%);
    border-radius: 25px;
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social:hover {
    background-color: var(--brand-accent);
}

.social svg {
    width: 100%;
    height: 100%;
}