.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 100vh;
    background-color: #fafafa;
    
}
.container{
    width: 100%;
}
.footer{
background-color: #f7f7f7;    
padding: 10px 20px;
width: 100%;
margin-top: 20px;
min-height: 50px;
}
.credits{
width: 100%;
padding: 5px 30px;
background-color: var(--brand-col2);
font-family: Poppins;
font-size: 12px;    
display: flex;
flex-direction: row;
justify-content: space-between;
}
.logoholder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logoholder img{
    max-width: 250px;
    padding: 10px;
}