.mainholder {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    flex-direction: row;
}

.mainholder * {
    font-family: Modernist;
}

.buttonsection {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px -6px 22px -10px #00000022;
    background-color: white;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inputs::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
}

.error {
    color: red;
    background-color: rgba(255, 0, 0, 0.082);
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.inputs {
    display: flex;
    height: 100%;
    padding: 0 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    width: 100%;
    padding-bottom: 120px;
    position: relative;
}

.inputsholder::before {
    content: '';
    width: 100%;
    max-width: 80%;
    height: 10px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    top: 0;
    position: absolute;
    background: rgb(76, 25, 80);
    background: linear-gradient(83deg, rgba(76, 25, 80, 1) 0%, rgba(131, 53, 137, 1) 100%);
}

.card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 4px 4px 12px -4px #00000022;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.empty img {
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.empty {
    overflow: scroll;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.empty h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.empty h1 {
    font-size: 22px;
    font-weight: 600;
    color: var(--brand-col1);
    text-align: center;
}

.congrats {
    color: var(--brand-col2);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.colleges {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.cardcontent {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.cardcontent h3 {
    margin: 0;
}

.cardcontent p {
    margin: 0;
    font-size: 12px;
    color: var(--brand-col1);
}

.card img {
    width: 200px;
    object-fit: cover;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.inputs::before {
    content: '';
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
    background: rgb(0, 0, 0);
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.062) 0%, rgba(0, 0, 0, 0) 100%);
}

.animate {
    width: 100%;
}

@keyframes comeup {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.logo {
    max-width: 300px;
    width: 100%;
    padding: 0 10px;
    margin: 10px 0;
}

.inputsholder {
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    width: 100%;
    max-width: 800px;
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.inputsholder .input {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    box-shadow: 4px 4px 12px -8px #00000022;
    width: 100%;
}

.inputsholder input {
    line-height: 24px;
}

.featuredmedia {
    position: relative;
    flex: 1;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    background: rgb(242, 173, 0);
    background: linear-gradient(83deg, rgba(242, 173, 0, 0.26) 0%, rgba(131, 53, 137, 0.274) 100%);
}

.callheading {
    color: var(--brand-col2);
    font-size: 3rem;
    line-height: 3.2rem;
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.callpara {
    margin: 10px 10px 0 10px;
    font-size: 17px;
    font-weight: 600;
    line-height: 19px;
}

.buttonsection button {
    background-color: var(--brand-col2);
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inputs label {
    color: var(--brand-col1);
    font-size: 14px;
    margin: 0;
    font-weight: 600 !important;
    margin-top: 5px;
}

.buttonsection button svg {
    margin-right: 10px;
}

.buttonsection button:hover {
    background-color: var(--brand-col1);
    color: white;
}

.col2 {
    color: var(--brand-col1);
}

.media {
    position: absolute;
    left: 10%;
    transform: rotate(-15deg) scale(1.3);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.media img {
    margin: 10px;
    box-shadow: 4px 4px 12px -3px #00000022;
    border-radius: 200px;
    width: 150px;
    height: 150px;
}

.mediashadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(105, 105, 105, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.featured_content {
    z-index: 8;
    position: relative;
    color: black;
    padding: 30px 20px;
    width: 100%;
    max-width: 80%;
    border-radius: 20px;
    box-shadow: 4px 4px 12px -5px #00000022;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.featured_content h2 {
    margin: 0;
    color: var(--brand-col1);
    font-size: 3rem;
}

.counter {
    background: rgb(76, 25, 80);
    background: linear-gradient(83deg, rgba(76, 25, 80, 1) 0%, rgba(131, 53, 137, 1) 100%);
    position: absolute;
    top: -15px;
    text-align: center;
    color: white;
    pointer-events: none;
    width: 100%;
}

.featured_content a {
    color: white;
    box-shadow: 4px 4px 22px -10px var(--brand-col2);
    padding: 10px 20px;
    background-color: var(--brand-col2);
    border-radius: 20px;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.featured_content a:hover {
    background-color: var(--brand-col1);
    box-shadow: 4px 4px 22px -10px var(--brand-col1);
}

.semi {
    position: fixed;
    bottom: -50%;
    width: 150vw;
    height: 150vw;
    z-index: 0;
    opacity: 0.5;
    pointer-events: none;
    border-radius: 100%;
    background-color: var(--brand-col1);
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width:968px) {
    .featuredmedia {
        display: none;
    }
    .mainholder {
        flex-direction: column;
        padding-top: 20px;
    }
    .inputsholder {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        border-radius: 20px;
    }
    .logo {
        max-width: 180px;
    }
    .buttonsection {
        position: fixed;
    }
    .inputs {
        padding-bottom: 200px;
    }
    .card img {
        width: 30vw;
    }
}

@media only screen and (max-width:568px) {
    .inputsholder {
        padding: 20px 10px;
    }
    .mainholder {
        background-color: #cecece;
    }
}