.main {
    width: 100%;
    height: auto;
    padding: 20px 40px;
}

.leadlist {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 12px -4px #00000022;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px;
    font-size: 12px;
    align-items: center;
    align-content: center;
    font-family: Poppins;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.logform {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logform input {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    font-family: Poppins;
    font-size: 12px;
}

.fixed {
    position: fixed;
    top: 0;
    padding: 10px 20px;
    left: 0;
    max-height: 100vh;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.logform button {
    padding: 10px 50px;
    border-radius: 10px;
    background-color: var(--brand-col2);
    font-family: Poppins;
    font-size: 12px;
    border: 0;
}

.main h2 {
    font-family: Poppins;
}

.leadlist p {
    margin: 0;
    flex: 1;
    padding: 0;
}

.heading {
    background-color: var(--brand-col2);
    color: white;
}