.maincont {
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;
    font-family: Modernist;
    padding: 0 4rem;
    padding-top: 4rem;
    overflow: hidden;
}

.maincont * {
    font-family: Modernist;
}

.section {
    background-color: white;
    padding: 20px 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 4px 4px 22px -10px #00000022;
    width: 100%;
    animation: comup .5s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    transform: translateY(50px);
    opacity: 0;
}

@keyframes comup {
    0% {
        transform: translateY(50px);
        opacity: 0
    }
    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

.button {
    background-color: var(--brand-col2);
    padding: 10px 50px;
    border-radius: 10px;
    border: 0;
    color: black;
    cursor: pointer;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 4px 4px 22px -10px transparent;
}

.button:hover {
    background-color: var(--brand-col1);
    color: white;
    box-shadow: 4px 4px 22px -6px var(--brand-col1);
}

.spacer_x {
    width: 14px;
}

.spacer_y {
    height: 14px;
}

.share {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.share button {
    cursor: pointer;
    display: flex;
    border: 0;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px 20px;
    margin-right: 10px;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.share button img {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

.download {
    display: flex;
    flex-direction: row;
}

.section p {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    font-size: 14px;
}

.section p svg {
    width: 20px;
    margin-left: 10px;
}

.leftcol {
    flex: 1;
}

.rightcol {
    max-width: 400px;
    width: 100%;
    margin-left: 30px;
}

.banner {
    width: 100%;
   
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 4px 4px 22px -10px #00000022;
}

.banner .floating {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    bottom: 20px;
    max-width: calc(100% - 50px);
}

.inputsection {
    background-color: #ddd;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.banner .floating button {
    width: 100%;
}

.formsection {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 22px -10px #00000022;
}

.formsection h1 {
    margin: 0;
    margin-top: 10px;
    line-height: 36px;
    font-weight: 700;
}

.banner img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.tools {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 4px 4px 22px -10px #00000022;
}

.tool {
    background-color: #86326d2a;
    border-radius: 5px;
    padding: 0 20px;
    margin: 5px 0;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.share button:hover {
    filter: brightness(0.9);
}

.tool:hover {
    background-color: #86326d83;
}

.tools h2 {
    margin: 5px 0;
    line-height: 26px;
}

.innercont {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    padding: 10px 20px;
    flex-direction: row;
}

.result {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 550px;
    height: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 4px 4px 12px -3px #00000022;
    border-radius: 20px;
    list-style-type: none;
}

.resultItem h3 {
    margin: 0;
    font-size: 14px;
    padding: 0;
}

.resultItem p {
    font-size: 12px;
    margin: 0;
}

.resultItem .correct {
    color: green;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px -10px;
}

.resultItem .incorrect {
    color: red;
}

.scorecard {
    width: 100%;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    background: rgb(158, 65, 152);
    background: linear-gradient(122deg, rgba(158, 65, 152, 1) 0%, rgba(110, 42, 99, 1) 100%);
    border-radius: 20px;
    padding: 10px 20px;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    animation: revap .4s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    transform: translateY(50px);
    opacity: 0;
}

@keyframes revap {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.logo {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px 0 30px 0;
}

.counterbadge {
    background-color: var(--brand-col1);
    color: white;
    border-radius: 200px;
    padding: 5px 10px;
    margin: 0px 0px;
    display: inline-block;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.counterbadge:hover {
    background-color: var(--brand-col2);
    color: black;
}

.profilesection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 10px;
}

.loading_overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #00000096;
    z-index: 99999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    opacity: 0;
    animation: com .4s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.counter {
    padding: 5px 10px;
    background-color: #ff990031;
    border-radius: 10px;
    border: 1px solid var(--brand-col2);
    display: inline-block;
    color: var(--brand-col1);
    font-size: 14px;
    margin: 10px 0 0 0;
}

.loading_overlay svg {
    margin-right: 10px;
}

@keyframes com {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scorewrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 55px);
    margin: -5px;
}

.scorewrapper>div {
    background-color: #ffffff23;
    margin: 5px;
    flex: 1;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.scorewrapper>div p {
    font-size: 3rem;
    font-weight: 600;
}

.profilesection h2 {
    margin: 10px 0;
}

.profile {
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.profile p {
    color: var(--brand-col2);
    font-size: 12px;
    padding-left: 10px;
}

.helpoverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000079;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.closefill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.instructions {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px -4px #00000022;
}

.instructions h2 {
    color: var(--brand-col1);
}

.instructions ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    font-family: Modernist;
}

.instructions ul li {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.closer {
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.helpmodal a {
    background-color: var(--brand-col2);
    padding: 10px 20px;
    border-radius: 10px;
}

.helpmodal {
    z-index: 5;
    position: relative;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 12px -6px #00000022;
    padding: 10px 20px;
    min-height: 400px;
    margin: 0 auto;
}

.toppers {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.toppers .award {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--brand-col2);
    margin-right: 10px;
    font-size: 12px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid white;
    box-shadow: 4px 4px 12px -6px #00000022;
    color: black;
}

.toppers .award svg {
    display: none;
    fill: black;
}

.marquee {
    background: rgb(158, 65, 152);
    background: linear-gradient(122deg, rgba(158, 65, 152, 1) 0%, rgba(110, 42, 99, 1) 100%);
    color: white;
    box-shadow: 7px 7px 22px -3px rgba(158, 65, 152, 0.589);
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
}

.errormsg {
    color: red;
    background-color: rgba(255, 0, 0, 0.082);
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.whitelogo {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 44px;
    height: 44px;
}

.circles {
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
    height: 100px;
}

.scorecard>div {
    flex: 1;
}

.scorecard h3,
.scorecard p {
    margin: 5px 0 5px 0;
}

.scorecard h3 {
    font-size: 16px;
}

.scorecard * {
    color: white;
}

.inputsplit {
    width: 100%;
    margin: 10px 0 0 0;
}

.inputsplit .input:first-child {
    margin-right: 10px;
}

.generateButton {
    cursor: pointer;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    text-align: center;
    max-width: 200px;
    margin-top: 10px;
}

/* .responseForm input {
    box-shadow: 8px 8px 10px -9px #00000022;
}
 */
.generateButton:hover {
    background-color: var(--brand-col2);
    color: black;
}

.sent {
    border: 1px solid #22b573;
    background-color: #22b57322;
    color: #22b573;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 12px;
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
}

.inputsplit input {
    width: calc(50% - 5px);
}

.responseForm {
    padding: 0px;
    padding-right :20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    min-height: 200px;
    border-radius: 20px;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.grid {
    background-image: url('https://res.cloudinary.com/dyuyomk95/image/upload/c_scale,h_488,q_47/v1685485002/abstract-black-and-white-grid-striped-geometric-seamless-pattern-illustration-free-vector_iiwo2d.jpg');
    position: fixed;
    width: 100%;
    background-position: center;
    background-size: 300px;
    opacity: 0.1;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
    mix-blend-mode: multiply;
}

.responseForm .input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
}

.responseForm h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    font-weight: 600;
    margin: 0;
}

.responseForm ul li h2 {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: normal;
    font-weight: 600;
    margin: 0;
}
/* 
.responseForm button {
    padding: 10px 20px;
    background-color: var(--brand-col1);
    color: white;
    border: 0;
    border-radius: 10px;
}
 */
@media only screen and (max-width:968px) {
    .rightcol {
        margin-top: 20px;
    }
    .innercont {
        flex-direction: column;
        padding: 0;
    }
    .maincont {
        padding: 40px 1rem;
    }
    .rightcol {
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        margin-left: 0;
    }
    .share {
        flex-wrap: wrap;
        margin: 10px -5px;
    }
    .share>button {
        margin: 5px;
    }
}

@media only screen and (max-width:768px) {
    .inputsplit .input {
        width: 100%;
        margin-right: 0;
    }
    .inputsection {
        flex-direction: column;
    }
    .scorecard {
        width: 100%;
        max-width: unset;
    }
    .download {
        flex-wrap: wrap;
    }
    .download button {
        margin: 10px;
    }
    .rightcol {
        flex-direction: column-reverse;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    .rightcol .banner {
        display: none;
    }
    .rightcol .tools {
        width: 100%;
    }
    .formsection {
        padding: 10px 15px;
    }
    .inputsection {
        padding: 10px 15px;
    }
}