.mainholder {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.mainholder * {
    font-family: Modernist;
}

.logo {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px 0 30px 0;
}

.mainholder h2 {
    margin: 0;
}

.mainholder h1 {
    margin: 0;
    padding: 0;
    color: var(--brand-col1);
}

.mainholder .input {
    padding: 10px 20px;
    width: 100%;
    margin: 10px auto 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 380px;
}

.sp {
    background-color: var(--brand-col2);
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

@media only screen and (max-width:968px) {
    .mainholder .input {
        max-width: 95%;
    }
}