:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: Poppins,ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --font-main: Modernist;
    --brand-col1: #833589;
    --brand-col2: #f2ad00;
}


/* width */

.swiper-wrapper {
    transition: 0.7s cubic-bezier(.56, .03, .18, .99) !important;
}
.mySwiper .swiper-slide{
    width: auto;
    flex-shrink: 0;
    display: block;
   height: 100%;
    max-height: 100%;
}
.mySwiper .swiper-wrapper
{
    max-width: 100%;
    max-height: 100vh;

    width: 100%;
    min-height: 0;
    min-width: 0;
}
::-webkit-scrollbar {
    width: 4px;
}

.b2 {
    color: var(--brand-col2);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Track */

.swiper-pagination-bullet-active {
    background-color: var(--brand-col1) !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 200px;
    background: var(--brand-col2);
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--brand-col1);
}


/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */


/* html,
body {
    max-width: 100vw;
    overflow-x: hidden;
} */


/* body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */


/* a {
    color: inherit;
    text-decoration: none;
}
 */


/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */

html,
body {
    color-scheme: only light;
    padding: 0;
    -webkit-text-size-adjust: none;
    margin: 0;
    font-family: Poppins -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    /* For Safari and iOS */
    -moz-osx-font-smoothing: grayscale;
    /* For Firefox on macOS */
    text-rendering: optimizeLegibility;
    /* Overall font rendering optimization */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    box-sizing: border-box;
}

input,
textarea {
    -webkit-text-size-adjust: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
    body {
        color: black;
        background: white;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light;
    }
    body {
        color: black;
        background: white;
    }
}

@font-face {
    font-family: 'Modernist';
    src: url('/Sk-Modernist-Bold.eot');
    src: url('/Sk-Modernist-Bold.eot') format('embedded-opentype'), url('/Sk-Modernist-Bold.woff2') format('woff2'), url('/Sk-Modernist-Bold.woff') format('woff'), url('/Sk-Modernist-Bold.ttf') format('truetype'), url('/Sk-Modernist-Bold.svg#Sk-Modernist-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modernist';
    src: url('/Sk-Modernist-Regular.eot');
    src: url('/Sk-Modernist-Regular.eot#iefix') format('embedded-opentype'), url('/Sk-Modernist-Regular.woff2') format('woff2'), url('/Sk-Modernist-Regular.woff') format('woff'), url('/Sk-Modernist-Regular.ttf') format('truetype'), url('/Sk-Modernist-Regular.svg#Sk-Modernist-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.spinner_Wezc {
    transform-origin: center;
    animation: spinner_Oiah .75s step-end infinite
}

.spinner_OSmW {
    transform-origin: center;
    animation: spinner_T6mA 0.75s step-end infinite
}

@keyframes spinner_T6mA {
    8.3% {
        transform: rotate(30deg)
    }
    16.6% {
        transform: rotate(60deg)
    }
    25% {
        transform: rotate(90deg)
    }
    33.3% {
        transform: rotate(120deg)
    }
    41.6% {
        transform: rotate(150deg)
    }
    50% {
        transform: rotate(180deg)
    }
    58.3% {
        transform: rotate(210deg)
    }
    66.6% {
        transform: rotate(240deg)
    }
    75% {
        transform: rotate(270deg)
    }
    83.3% {
        transform: rotate(300deg)
    }
    91.6% {
        transform: rotate(330deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes spinner_Oiah {
    8.3% {
        transform: rotate(30deg)
    }
    16.6% {
        transform: rotate(60deg)
    }
    25% {
        transform: rotate(90deg)
    }
    33.3% {
        transform: rotate(120deg)
    }
    41.6% {
        transform: rotate(150deg)
    }
    50% {
        transform: rotate(180deg)
    }
    58.3% {
        transform: rotate(210deg)
    }
    66.6% {
        transform: rotate(240deg)
    }
    75% {
        transform: rotate(270deg)
    }
    83.3% {
        transform: rotate(300deg)
    }
    91.6% {
        transform: rotate(330deg)
    }
    100% {
        transform: rotate(360deg)
    }
}